.computer-view{
    display: block;
}

.cell-view{
    display: none;
}

@media screen and (max-width:1199px){
    .active-page .nav-link::after{
        width: 0;
    }

    .navbar-btn a:first-child{
        width: 15rem;
        margin: auto;
        margin-top: 1rem !important;
    }
    .navbar-btn a:last-child{
        width: 20rem;
        margin: auto;
        margin-top: 1.5rem !important;
    }
    .navbar-btn .btn-1,.navbar-btn .btn-2{
        color: #ffffff;
        font-size: 1.6rem;
        background: #00D1D5;
        border: 1.5px solid #00D1D5;
        border-radius: 2.8rem;
        -webkit-border-radius: 2.8rem;
        -moz-border-radius: 2.8rem;
        -ms-border-radius: 2.8rem;
        -o-border-radius: 2.8rem;
        padding: .7rem 2.5rem;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        font-family: mont-regular;
    }
    .navbar-brand img{
        margin-right: 0 !important;
    }
}
@media screen and (max-width:991px){
    .heading{
        font-size: 3.5rem;
    }
}
@media screen and (max-width:767px){

    .computer-view{
        display: none;
    }

    .mt-12{
        margin-top: 4rem;
    }
    
    .cell-view{
        display: block;
    }
      
    #platform-section{
        padding: 2rem 0 0 0;
    }
    #mask-group-2{
        padding: 20rem 0 !important;
    }
    #mask-group-4{
        padding: 2rem 0;
    }
    .accordion p{
        width: 80% !important;
    }

    .btn-parceria{
        background: #9279FA;
        margin-right: 0;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
       }
       
       .btn-servico{
         background: #00D1D5;
         display: block;
         width: 100%;
       }

    .btn-next-form{
        width: 100%;
    }

       .order-first-md{
           -webkit-box-ordinal-group:0;
           -ms-flex-order:-1;
           order:-1;
           padding-bottom: 1rem;
        }
       .order-last-md{
           -webkit-box-ordinal-group:14;
           -ms-flex-order:13;
           order:13
        }
}
@media screen and (max-width:575px){
    .footer-sub-title{
        margin: auto;
    }
    .heading{
        font-size: 3rem;
    }
    .accordion p{
        width: 90% !important;
    }
    .footer-part-2{
        padding: 6rem 0 0rem 0;
    }

}
@media screen and (min-width:991px){
    #mask-group-5{
        background-image: none;
    }

    .card-publicacao{
        border-radius: 5px;
        background: #00D1D5;
        width: 100%;
      }
      
      .card-publicacao h3{
        color: #ffffff;
      }
      
      .card-publicacao p{
        color: #1c1b1b;
      }
      
      .content-card-publicacao{
        padding: 2rem;
      }
      
}
@media screen and (min-width:1440px){
    .header-content{
        padding-top: 20rem !important;
    }
}
@media screen and (min-width:1600px){
    #header-section{
        padding-bottom: 28rem !important;
    }
    #mask-group-2{
        padding: 25rem 0!important;
    }
    footer{
        padding-top: 26rem;
    }
    .footer-part-2{
        padding: 8rem 0 6rem 0;
    }
}
@media screen and (min-width:1680px){
    #header-section{
        padding-bottom: 35rem !important;
    }
    #mask-group-2{
        padding: 30rem 0!important;
    }
    .mask-group-5-heading{
        padding-top: 10rem !important;
    }
    footer{
        padding-top: 30rem;
    }
}
@media screen and (min-width:1920px){
    .header-content{
        padding-top: 25rem !important;
    }
    #header-section{
        padding-bottom: 55rem !important;
    }
    #mask-group-2{
        padding: 40rem 0!important;
    }
    footer{
        padding-top: 30rem;
    }
    .footer-part-1{
        padding: 8rem 0 6rem 0;
    }
}

/*=== CARDS PAGE ===*/

@media screen and (max-width:770px){
    .responsive-cards-off{
        display: none;
    }

    .btn{
        width: 100%;
    }

    .form-popup{
        margin-left: 1.6rem;
    }

    body{
        padding-bottom: 7rem;
    }

    .card-publicacao{
        border-radius: 5px;
        background: #00D1D5;
        width: 90%;
      }
      
      .card-publicacao h3{
        color: #ffffff;
      }
      
      .card-publicacao p{
        color: #1c1b1b;
      }
      
      .content-card-publicacao{
        padding: 1rem;
      }
      

}

.carousel{
    max-width: 700px;
    margin: auto;
    padding: 0 20px 30px 20px;
  }
  
  .carousel .card-wow{
      color: #fff;
      text-align: center;
      margin: 20px 0 0 0;
      font-size: 10px;
      font-weight: 600;
      border: none;
      z-index: 9999;
  }
  
  .carousel .card-n1, .card-n2, .card-n3{
    background: none;
  }
  
  .link-card-android{
      width: 25rem; 
      height: 27rem;
      border-radius: 2%;
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
  }
  
  .owl-dots{
    text-align: center;
    margin-top: 40px;
  }
  
  .owl-dot{
    height: 2rem;
    width: 2rem;
    margin: 0 5px 0 0;
    top: 0;
    outline: none;
    border-radius: 100%;
    border: 1px solid #ffff!important;
    transition: all 0.3s ease;
  }
  
  .owl-dot.active,
  .owl-dot:hover{
    background: #ffff!important;
  }


